@model Drake_Travel_Light.Models.Voo

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Voo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Destino)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Destino)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Assento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Assento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Data_ida)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Data_ida)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Data_volta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Data_volta)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id_Voo">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
